@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Patua+One&display=swap');

:root {
    --header-height: 3rem;
    --first-color: #095fb8;
    --color2: #5e0708;
    --color3: #95c1e8;
    --first-font: 'Merriweather', serif;
    --normal-font-size: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(10, 77, 221, 0.5),
            rgba(10, 10, 10, 0.5)), url(../img/bg/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.brand {
    display: inline-block;
}

.navs {
    display: inline-block;
    float: right;
}

.brand h5 {
    font-size: 2rem;
    color: var(--color2);
    font-weight: 900;
    font-family: 'Merriweather', serif;

}

.navs i {
    float: right;
    font-size: 2rem;
    font-weight: 900;
    color: whitesmoke;
    margin-top: 5px
}


.hero2 h4 {
    font-size: 4rem;
    font-family: 'Patua One', cursive;
    font-weight: 700;

    line-height: 65px;
}

.br {
    color: white
}

.hero2 p {
    color: #E5E7E9;
    font-size: 19px
}

.count {
    background: rgba(10, 77, 221, 0.5);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    border: 20px solid var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Patua One', cursive;
}

.count h5 {
    color: white;
    font-weight: 600;
}

.count small {
    color: #E5E7E9;
}

.offcanvas {
    background: whitesmoke;
}

.header h4 {
    color: #444;
    font-family: 'Patua One', cursive;
    font-size: 2rem;
}

.btn {
    background: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.btn:hover {
    background: var(--first-color);
    color: white;
}

@media screen and (max-width: 375px) {
    .brand h5 {
        font-size: 20px;
    }

    .navs i {
        display: inline-block;
        margin-top: 1px;
    }
}